{% extends 'base.html' %}

{% block content %}

  <h1 class="center">lorem, ipsum <br/>and two smoking barrels</h1>

  <div class="row">
    <div class="input-field col s12 m6">
        <select name="movie-list" id="movie-list">
          <option value="all">All</option>
          <option value="snatch">Snatch</option>
          <option value="lock-stock-and-two-smoking-barrels">Lock, Stock and Two Smoking Barrels</option>
        </select>
        <label>Choose a Movie</label>
      </div>
      
      <div class="input-field col s12 m3">
        <select name="quote-size" id="quote-size">
          <option value="any">Any</option>
          <option value="big">Big</option>
          <option value="small">Small</option>
        </select>
        <label>Choose quotes size</label>
      </div>

      <div class="input-field col s12 m3">
          <input placeholder="e.g. 5" id="quote_num" type="number">
          <label for="quote_num">Number of Quotes</label>
      </div>

      <div class="center">
          <a class="waves-effect waves-light btn" type="submit" id="load-quotes">Load Quotes</a>
      </div>
      
      
  </div>

  
  <br>

  <div id="results">
  </div>
  

  {% block javascript %}

   

    <script>

      const QUOTES_LIST = JSON.parse('{{ quotes_list | escapejs }}');
      
      const get_filters = () => {
        let movie_selector = document.getElementById("movie-list");
        let movie_name = movie_selector.options[movie_selector.selectedIndex].value;

        let quote_size_selector = document.getElementById("quote-size");
        let quote_size = quote_size_selector.options[quote_size_selector.selectedIndex].value;

        let quote_num_value = document.getElementById("quote_num").value;
        console.log("Filters retrieved...")
        return {movie_name, quote_size, quote_num_value}
      }

      const getRandomQuotes = (array, numQuotes) => {
        console.log("Quotes randomized...")
        return array.sort(() => .5 - Math.random()).slice(0, numQuotes);
      }

      const filteredMovieList = () => {
        const filters = get_filters();
        let output = QUOTES_LIST;
        //filter by movie name
        if (filters.movie_name !== "all") {
          output = output.filter(q => q.movie === filters.movie_name);
        }
        // filter by size
        if (filters.quote_size !== "any") {
          filters.quote_size === "small" ? output = output.filter(q => q.quote_len < 200) : output = output.filter(q => q.quote_len > 200);
        }
        // filter by number of quotes and/or randomize
        if (filters.quote_num_value > 0 && filters.quote_num_value < output.length) {
          output = getRandomQuotes(output, filters.quote_num_value);
        } 
        else {
          output = getRandomQuotes(output, output.length);
        }
        console.log("Filters applied ... ")
        return output
      }

      const loadQuotes = (event) => {
        event.preventDefault();

        const movieList = filteredMovieList().map((quote) => {
          return `<p>${quote.text}</p>`
        }).join('');
        console.log("injecting html...")
        console.log(movieList);
        document.getElementById('results').innerHTML = movieList;
      }
      document.getElementById('load-quotes').addEventListener("click", loadQuotes);
    </script>
  {% endblock %}

{% endblock %}