/* Override some materialize attrs  */
.btn, .btn-large, .btn-small  {
  background-color:#F0C430;
}

.btn:hover, .btn-large:hover, .btn-small:hover {
  background-color: rgb(241, 186, 67);
}

.dropdown-content li > a, .dropdown-content li > span {
  color: #F0C430;
}

input[type=number]:not(.browser-default):focus:not([readonly]) + label {
  color: #F0C430;
}

/* Results */

#results {
  border: 2px solid #F0C430;
  border-radius: 10px;
  margin: 10px; 
}
#results > p {
  margin: 15px;
}